/**
Author:Charles Aondo
Date:2019-07-07
Purpose:This page is use to style the pages in the timeless medical employee management system
 */
#loginBackground{
    background-color:black;
}
.backgroundDesign{
    background-image:url("../../images/bookshelf.jpg");
    background-repeat: repeat;
}
#Container{
    width: 650px;
    background-color: navajowhite;
    font-size: 12px;
    text-align: center;
    margin: auto;
}
.form-control {
    display: inline;
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.error{
    color: red;
}
.passColor{
    color: green;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*Altered background color*/
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #e3f2fd;
}
